<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="system/Test/bootstrap.php"
    backupGlobals="false"
    beStrictAboutOutputDuringTests="true"
    colors="true"
    columns="max"
    failOnRisky="true"
    failOnWarning="true"
    cacheDirectory="build/.phpunit.cache">

    <!-- ===================================== -->
    <!-- CODE COVERAGE -->
    <!-- ===================================== -->
    <coverage
        includeUncoveredFiles="true"
        pathCoverage="false"
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="true">

        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/logs/html"/>
            <php outputFile="build/logs/coverage.serialized"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>

    <!-- ===================================== -->
    <!-- TEST SUITES -->
    <!-- ===================================== -->
    <testsuites>

        <testsuite name="Unit">
            <directory>./tests/unit</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory>./tests/feature</directory>
        </testsuite>

        <testsuite name="Security">
            <directory>./tests/security</directory>
        </testsuite>

        <testsuite name="Database">
            <directory>./tests/database</directory>
        </testsuite>

        <testsuite name="All">
            <directory>./tests</directory>
        </testsuite>

    </testsuites>

    <!-- ===================================== -->
    <!-- REPORT -->
    <!-- ===================================== -->
    <logging>
        <testdoxHtml outputFile="build/logs/testdox.html"/>
        <testdoxText outputFile="build/logs/testdox.txt"/>
        <junit outputFile="build/logs/junit.xml"/>
    </logging>

    <!-- ===================================== -->
    <!-- SOURCE -->
    <!-- ===================================== -->
    <source>
        <include>
            <directory suffix=".php">./app</directory>
        </include>

        <exclude>
            <directory suffix=".php">./app/Views</directory>
            <file>./app/Config/Routes.php</file>
        </exclude>
    </source>

    <!-- ===================================== -->
    <!-- PHP ENV -->
    <!-- ===================================== -->
    <php>

        <!-- BASE URL -->
        <server name="app.baseURL" value="http://localhost:8082/"/>

        <!-- Disable warning CI -->
        <server name="CODEIGNITER_SCREAM_DEPRECATIONS" value="0"/>

        <!-- ===================================== -->
        <!-- MYSQL TEST DATABASE -->
        <!-- ===================================== -->

        <env name="database.tests.hostname" value="127.0.0.1"/>
<env name="database.tests.database" value="partdua_gamestore"/>
<env name="database.tests.DBPrefix" value=""/>
<env name="database.tests.DBDebug" value="true"/>
<env name="database.tests.username" value="root"/>
<env name="database.tests.password" value=""/>
<env name="database.tests.DBDriver" value="MySQLi"/>
        <env name="database.tests.DBPrefix" value=""/>
        <env name="database.tests.port" value="3306"/>

        <!-- ===================================== -->
        <!-- PATH -->
        <!-- ===================================== -->

        <const name="HOMEPATH" value="./"/>
        <const name="CONFIGPATH" value="./app/Config/"/>
        <const name="PUBLICPATH" value="./public/"/>

    </php>

</phpunit>